# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignore everything
*

# But not these...
!src/
!src/components/
!src/App.tsx

# Ignore everything inside src except these
src/*
!src/components/
!src/App.tsx

# Keep this file so Git works
!.gitignore
